div {

    color: rgb(63, 160, 25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;

}

#navbar {

    color: rgb(78, 54, 18);
}

#sidebar {
    font-size: medium;
    column-rule-color: beige;
}

#mainbar {

    color: rgb(48, 31, 10);
    font-size: small;
}